Flask==2.3.3
facenet-pytorch==2.6.0
opencv-python==4.8.1.78
numpy==1.26.4
pillow==10.2.0
torch==2.2.2
torchvision==0.17.2
ultralytics==8.4.12
scikit-learn==1.5.2
pandas==2.2.2
matplotlib==3.8.4
tqdm==4.66.4